In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [7]:
df_people = spark.read \
    .option('header', True) \
    .json('data/people.json')

In [8]:
df_people

DataFrame[age: bigint, name: string]

In [10]:
df_people.count()

3

In [12]:
df_people.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [13]:
df_people.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [14]:
df_people.columns

['age', 'name']

In [16]:
df_people.describe

In [17]:
df_people.describe()

DataFrame[summary: string, age: string, name: string]

In [18]:
df_people.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [19]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [21]:
people_schema = StructType([
    StructField(name='age', dataType=IntegerType(), nullable=True),
    StructField(name='name', dataType=StringType(), nullable=True)
])

In [22]:
df_people = spark.read \
    .option('header', True) \
    .schema(people_schema) \
    .json('data/people.json')

In [23]:
df_people.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [24]:
df_people['age']

Column<'age'>

In [25]:
type(df_people['age'])

pyspark.sql.column.Column

In [26]:
df_people.select('age')

DataFrame[age: int]

In [27]:
df_people.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [28]:
type(df_people.select('age'))

pyspark.sql.dataframe.DataFrame

In [29]:
df_people.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [30]:
df_people.head(2)[0]

Row(age=None, name='Michael')

In [31]:
type(df_people.head(2)[0])

pyspark.sql.types.Row

In [32]:
df_people.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
df_people.withColumn('doubleage', df_people['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [34]:
df_people.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
df_people.withColumnRenamed(existing='age', new='new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [37]:
df_people.createOrReplaceTempView('people')

In [39]:
spark.sql('select * from people').show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
spark.sql('select * from people where age=30').show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+