# One Proportion Test

			iii. One proportion test
				1) Categorical data
				2) Conditions for 1-proportion-test
					a) Random samples
					b) Each observation should be independent of other
						i) Sampling with replacement
						ii) If sampling without replacement, the sample size should not be more than 10% of the population
					c) The data contains only two categories, such as pass/fail or yes/no
						i) For Normal approximation:
						ii) both npâ‰¥10 and n(1âˆ’p)â‰¥10 (data should have at least 10 "successes" and at least 10 "failures" ) (in some books it is 5)

### Manual



Example 1: Smoking rate in a town in past was 21%, 100 samples were picked and found 14 smokers. Has smoking habit changed? (95% confidence level)

H0 : p = p0

Ha : p â‰  p0

This is a two-tailed test 

ð‘§calculated=(ð‘âˆ’ð‘0) / sqrt(  (p0 (1-p0)) / n)


Can Normality assumption be made?

n = 100

p0 = 0.21, p = 0.14

np0 = 0.21x100 = 21

n(1-p0)= 0.79x100 = 79

Since both are >10 means sample size is sufficient and normality can be assumed



zcalculated=(0.14âˆ’0.21)/sqrt((0.21*(1âˆ’0.21))/100) = -1.719

Zcritical = +-1.96

Since Z calculated < Z Critical is "failed to reject null hypothesis"



Example 2: Smoking rate in a town in past was 21%, 100 samples were picked and found 14 smokers. Has smoking habit reduced? (95% confidence level)

H0 : p = p0

Ha : p â‰  p0

This is a one-tailed test 

ð‘§calculated=(ð‘âˆ’ð‘0) / sqrt(  (p0 (1-p0)) / n)

Can Normality assumption be made?

n = 100

p0 = 0.21, p = 0.14

np0 = 0.21x100 = 21

n(1-p0)= 0.79x100 = 79

Since both are >10 means sample size is sufficient and normality can be assumed

zcalculated=(0.14âˆ’0.21)/sqrt((0.21*(1âˆ’0.21))/100) = -1.719

Zcritical = -1.645


Since Z calculated > Z Critical is "reject null hypothesis"

There is a reduction in smoking habbit.

#### Python

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats


Example 1: Smoking rate in a town in past was 21%, 100 samples were picked and found 14 smokers. Has smoking habit changed? (95% confidence level)

In [4]:
x = 14
p=0.21
n=100
p=0.05

p_value = stats.binom_test(x=14, n=100, p=0.21, alternative='two-sided')
print(p_value)


if p_value<0.05:
    print(f"Ho is rejected in favour of Ha")
else:
    print("Failed to reject Ho")

0.1092081572082592
Failed to reject Ho


Example 2: Smoking rate in a town in past was 21%, 100 samples were picked and found 14 smokers. Has smoking habit reduced? (95% confidence level)

In [6]:
x = 14
p=0.21
n=100
p=0.05

p_value = stats.binom_test(x=14, n=100, p=0.21, alternative='less')
print(p_value)


if p_value<0.05:
    print(f"Ho is rejected in favour of Ha")
else:
    print("Failed to reject Ho")

0.0504246022155211
Failed to reject Ho

In [8]:
print('Conclusion: There is a difference the manual computed to Python in the Example 2, Python way might be correct. Even manual one also was very near to the critical value')

Conclusion: There is a difference the manual computed to Python in the Example 2, Python way might be correct. Even manual one also was very near to the critical value

#### Loading data from file

In [9]:
df_smokers = pd.read_csv('data/Smokers.csv')
df_smokers

          Name Smokers
0     Person 1      No
1     Person 2      No
2     Person 3      No
3     Person 4     Yes
4     Person 5      No
..         ...     ...
95   Person 96      No
96   Person 97      No
97   Person 98      No
98   Person 99      No
99  Person 100      No

[100 rows x 2 columns]

In [10]:
df_smokers.groupby('Smokers').count()

         Name
Smokers
No         86
Yes        14

In [12]:
df_smokers['Smokers'].value_counts()

No     86
Yes    14
Name: Smokers, dtype: int64

In [13]:
smokers_summary = df_smokers.groupby('Smokers').count()
smokers_summary

         Name
Smokers
No         86
Yes        14

In [16]:
smokers_summary = smokers_summary.reindex(['Yes', 'No'])
smokers_summary

         Name
Smokers
Yes        14
No         86

In [17]:
p_value = stats.binom_test(smokers_summary, p=0.21, alternative='two-sided')

In [18]:
print(f'P value is: {p_value}')
if p_value<0.05:
    print(f"Ho is rejected in favour of Ha")
else:
    print("Failed to reject Ho")

P value is: [0.10920816]
Failed to reject Ho