In [10]:
from datetime import date, time, datetime, timedelta

In [2]:
mydate = date(year=2021, month=7, day=16)
print(f'Date is {mydate}')

Date is 2021-07-16

In [3]:
date.today()

datetime.date(2021, 7, 16)

In [4]:
date.today().month

7

In [5]:
mytime = time(hour=10, minute=17, second=20)
mytime

datetime.time(10, 17, 20)

In [6]:
mytime = time(minute=15)
mytime

datetime.time(0, 15)

In [7]:
a = datetime(year=2012, month=7, day=16)
print(a)
a

2012-07-16 00:00:00

datetime.datetime(2012, 7, 16, 0, 0)

In [8]:
a.minute

0

In [9]:
today = datetime.now()
today

datetime.datetime(2021, 7, 16, 14, 35, 5, 290067)

In [11]:
todays_date = datetime.now()
dateafter_months = todays_date+timedelta(days=12, hours=12)
dateafter_months

datetime.datetime(2021, 7, 29, 2, 35, 40, 279172)

In [12]:
# Adding date + timedelta shall return a date
# Adding data1 - date2 shall return timedelta

datebefore_months = todays_date - timedelta(days=10)
datebefore_months

datetime.datetime(2021, 7, 6, 14, 35, 40, 279172)

In [42]:
# Adding date + timedelta shall return a date
# Adding data1 - date2 shall return timedelta

bday = datetime(year=2021, month=1, day=18)
tday = datetime.now()
past_days = bday - tday
next_days = datetime(year=2022, month=1, day=18) - tday
print(f'The today number of days past BDay: {past_days.days} and the number of days for next BDay: {next_days}')

The today number of days past BDay: -180 and the number of days for next BDay: 185 days, 5:55:35.165847

In [27]:
tday = datetime.utcnow()
tday

datetime.datetime(2021, 7, 16, 9, 14, 28, 118477)

In [28]:
print(f'The weekday is: {tday.weekday()} and the iso weekday is: {tday.isoweekday()}')

The weekday is: 4 and the iso weekday is: 5

In [32]:
# listday = [i for i in range(30)]
listdate = [datetime(year=2021, month=7, day=i) for i in range(1,31) ]
listdate

[datetime.datetime(2021, 7, 1, 0, 0),
 datetime.datetime(2021, 7, 2, 0, 0),
 datetime.datetime(2021, 7, 3, 0, 0),
 datetime.datetime(2021, 7, 4, 0, 0),
 datetime.datetime(2021, 7, 5, 0, 0),
 datetime.datetime(2021, 7, 6, 0, 0),
 datetime.datetime(2021, 7, 7, 0, 0),
 datetime.datetime(2021, 7, 8, 0, 0),
 datetime.datetime(2021, 7, 9, 0, 0),
 datetime.datetime(2021, 7, 10, 0, 0),
 datetime.datetime(2021, 7, 11, 0, 0),
 datetime.datetime(2021, 7, 12, 0, 0),
 datetime.datetime(2021, 7, 13, 0, 0),
 datetime.datetime(2021, 7, 14, 0, 0),
 datetime.datetime(2021, 7, 15, 0, 0),
 datetime.datetime(2021, 7, 16, 0, 0),
 datetime.datetime(2021, 7, 17, 0, 0),
 datetime.datetime(2021, 7, 18, 0, 0),
 datetime.datetime(2021, 7, 19, 0, 0),
 datetime.datetime(2021, 7, 20, 0, 0),
 datetime.datetime(2021, 7, 21, 0, 0),
 datetime.datetime(2021, 7, 22, 0, 0),
 datetime.datetime(2021, 7, 23, 0, 0),
 datetime.datetime(2021, 7, 24, 0, 0),
 datetime.datetime(2021, 7, 25, 0, 0),
 datetime.datetime(2021, 7, 26, 0, 0),
 datetime.datetime(2021, 7, 27, 0, 0),
 datetime.datetime(2021, 7, 28, 0, 0),
 datetime.datetime(2021, 7, 29, 0, 0),
 datetime.datetime(2021, 7, 30, 0, 0)]

In [36]:
print(listdate[0].date())

2021-07-01

In [37]:
import pandas as pd
import numpy as np

In [69]:
date_df = pd.DataFrame(listdate, columns=['dt'])

In [70]:
date_df

           dt
0  2021-07-01
1  2021-07-02
2  2021-07-03
3  2021-07-04
4  2021-07-05
5  2021-07-06
6  2021-07-07
7  2021-07-08
8  2021-07-09
9  2021-07-10
10 2021-07-11
11 2021-07-12
12 2021-07-13
13 2021-07-14
14 2021-07-15
15 2021-07-16
16 2021-07-17
17 2021-07-18
18 2021-07-19
19 2021-07-20
20 2021-07-21
21 2021-07-22
22 2021-07-23
23 2021-07-24
24 2021-07-25
25 2021-07-26
26 2021-07-27
27 2021-07-28
28 2021-07-29
29 2021-07-30

In [71]:
date_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dt      30 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 368.0 bytes

In [72]:
listtime = np.random.randint(1, 60, size=30)
listtime

array([15, 40, 29, 42, 43,  6, 38, 18,  6,  3, 20, 24, 20, 57, 26,  1, 31,
       52, 28, 38,  7, 14,  5,  4,  4, 14, 25, 20, 12, 27])

In [73]:
time_df = pd.DataFrame(listtime)
time_df

     0
0   15
1   40
2   29
3   42
4   43
5    6
6   38
7   18
8    6
9    3
10  20
11  24
12  20
13  57
14  26
15   1
16  31
17  52
18  28
19  38
20   7
21  14
22   5
23   4
24   4
25  14
26  25
27  20
28  12
29  27

In [74]:
date_df['time'] = listtime
date_df

           dt  time
0  2021-07-01    15
1  2021-07-02    40
2  2021-07-03    29
3  2021-07-04    42
4  2021-07-05    43
5  2021-07-06     6
6  2021-07-07    38
7  2021-07-08    18
8  2021-07-09     6
9  2021-07-10     3
10 2021-07-11    20
11 2021-07-12    24
12 2021-07-13    20
13 2021-07-14    57
14 2021-07-15    26
15 2021-07-16     1
16 2021-07-17    31
17 2021-07-18    52
18 2021-07-19    28
19 2021-07-20    38
20 2021-07-21     7
21 2021-07-22    14
22 2021-07-23     5
23 2021-07-24     4
24 2021-07-25     4
25 2021-07-26    14
26 2021-07-27    25
27 2021-07-28    20
28 2021-07-29    12
29 2021-07-30    27

In [75]:
date_df['now'] = datetime.now()

In [76]:
date_df

           dt  time                        now
0  2021-07-01    15 2021-07-16 18:41:05.225473
1  2021-07-02    40 2021-07-16 18:41:05.225473
2  2021-07-03    29 2021-07-16 18:41:05.225473
3  2021-07-04    42 2021-07-16 18:41:05.225473
4  2021-07-05    43 2021-07-16 18:41:05.225473
5  2021-07-06     6 2021-07-16 18:41:05.225473
6  2021-07-07    38 2021-07-16 18:41:05.225473
7  2021-07-08    18 2021-07-16 18:41:05.225473
8  2021-07-09     6 2021-07-16 18:41:05.225473
9  2021-07-10     3 2021-07-16 18:41:05.225473
10 2021-07-11    20 2021-07-16 18:41:05.225473
11 2021-07-12    24 2021-07-16 18:41:05.225473
12 2021-07-13    20 2021-07-16 18:41:05.225473
13 2021-07-14    57 2021-07-16 18:41:05.225473
14 2021-07-15    26 2021-07-16 18:41:05.225473
15 2021-07-16     1 2021-07-16 18:41:05.225473
16 2021-07-17    31 2021-07-16 18:41:05.225473
17 2021-07-18    52 2021-07-16 18:41:05.225473
18 2021-07-19    28 2021-07-16 18:41:05.225473
19 2021-07-20    38 2021-07-16 18:41:05.225473
20 2021-07-21     7 2021-07-16 18:41:05.225473
21 2021-07-22    14 2021-07-16 18:41:05.225473
22 2021-07-23     5 2021-07-16 18:41:05.225473
23 2021-07-24     4 2021-07-16 18:41:05.225473
24 2021-07-25     4 2021-07-16 18:41:05.225473
25 2021-07-26    14 2021-07-16 18:41:05.225473
26 2021-07-27    25 2021-07-16 18:41:05.225473
27 2021-07-28    20 2021-07-16 18:41:05.225473
28 2021-07-29    12 2021-07-16 18:41:05.225473
29 2021-07-30    27 2021-07-16 18:41:05.225473

In [66]:
date_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       30 non-null     datetime64[ns]
 1   time    30 non-null     int32
 2   now     30 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int32(1)
memory usage: 728.0 bytes

In [92]:
dt_today = datetime.today()
dt_now = datetime.now()
dt_utc = datetime.utcnow()
print(f'{dt_today}\n{dt_now}\n{dt_utc}')

2021-07-16 19:35:10.742981
2021-07-16 19:35:10.742980
2021-07-16 14:05:10.742980